<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Cust_AddToWishlistServlet</servlet-name>
        <servlet-class>controller.Cust_AddToWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_ChangeProfileServlet</servlet-name>
        <servlet-class>controller.Cust_ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_DetailCarServlet</servlet-name>
        <servlet-class>controller.Cust_DetailCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_GetInvoiceServlet</servlet-name>
        <servlet-class>controller.Cust_GetInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_DetailServiceTicketServlet</servlet-name>
        <servlet-class>controller.Cust_DetailServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_GetServiceTicketServlet</servlet-name>
        <servlet-class>controller.Cust_GetServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_InvoiceServlet</servlet-name>
        <servlet-class>controller.Cust_InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_LoginServlet</servlet-name>
        <servlet-class>controller.Cust_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_RemoveFromWishlistServlet</servlet-name>
        <servlet-class>controller.Cust_RemoveFromWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_SaveWishlistServlet</servlet-name>
        <servlet-class>controller.Cust_SaveWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCarServlet</servlet-name>
        <servlet-class>controller.FindCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_CreateNewServiceServlet</servlet-name>
        <servlet-class>controller.Mec_CreateNewServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_DeleteServiceServlet</servlet-name>
        <servlet-class>controller.Mec_DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_DetailServiceServlet</servlet-name>
        <servlet-class>controller.Mec_DetailServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_FindTicketByDateServlet</servlet-name>
        <servlet-class>controller.Mec_FindTicketByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_GetServicesServlet</servlet-name>
        <servlet-class>controller.Mec_GetServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_UpdateNewStServlet</servlet-name>
        <servlet-class>controller.Mec_UpdateNewStServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_UpdateServiceServlet</servlet-name>
        <servlet-class>controller.Mec_UpdateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_FindTicketByIDServlet</servlet-name>
        <servlet-class>controller.Mec_FindTicketByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_UpdateServiceTicketServlet</servlet-name>
        <servlet-class>controller.Mec_UpdateServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mec_ViewServiceTicketServlet</servlet-name>
        <servlet-class>controller.Mec_ViewServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_AddPartsUsedServlet</servlet-name>
        <servlet-class>controller.Sale_AddPartsUsedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_AddServiceMechanicServlet</servlet-name>
        <servlet-class>controller.Sale_AddServiceMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CarServlet</servlet-name>
        <servlet-class>controller.Sale_CarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CompleteStServlet</servlet-name>
        <servlet-class>controller.Sale_CompleteStServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CreateCarServlet</servlet-name>
        <servlet-class>controller.Sale_CreateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CreateCustServlet</servlet-name>
        <servlet-class>controller.Sale_CreateCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CreateInvoiceServlet</servlet-name>
        <servlet-class>controller.Sale_CreateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CreatePartServlet</servlet-name>
        <servlet-class>controller.Sale_CreatePartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CreateSt1Servlet</servlet-name>
        <servlet-class>controller.Sale_CreateSt1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CreateStServlet</servlet-name>
        <servlet-class>controller.Sale_CreateStServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_CustServlet</servlet-name>
        <servlet-class>controller.Sale_CustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_DeleteCarServlet</servlet-name>
        <servlet-class>controller.Sale_DeleteCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_DeleteCustServlet</servlet-name>
        <servlet-class>controller.Sale_DeleteCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_DeletePartServlet</servlet-name>
        <servlet-class>controller.Sale_DeletePartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_GetWishlistServlet</servlet-name>
        <servlet-class>controller.Sale_GetWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_InvoiceServlet</servlet-name>
        <servlet-class>controller.Sale_InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_JustSmStServlet</servlet-name>
        <servlet-class>controller.Sale_JustSmStServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_PartServlet</servlet-name>
        <servlet-class>controller.Sale_PartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_ServiceTicketServlet</servlet-name>
        <servlet-class>controller.Sale_ServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_UpdateCarServlet</servlet-name>
        <servlet-class>controller.Sale_UpdateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_UpdateCustServlet</servlet-name>
        <servlet-class>controller.Sale_UpdateCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_UpdatePartServlet</servlet-name>
        <servlet-class>controller.Sale_UpdatePartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_LoginServlet</servlet-name>
        <servlet-class>controller.Staff_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_FindCarServlet</servlet-name>
        <servlet-class>controller.Sale_FindCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_FindCustServlet</servlet-name>
        <servlet-class>controller.Sale_FindCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_FindPartServlet</servlet-name>
        <servlet-class>controller.Sale_FindPartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cust_AddToWishlistServlet</servlet-name>
        <url-pattern>/Cust_AddToWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_ChangeProfileServlet</servlet-name>
        <url-pattern>/Cust_ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_DetailCarServlet</servlet-name>
        <url-pattern>/Cust_DetailCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_GetInvoiceServlet</servlet-name>
        <url-pattern>/Cust_GetInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_DetailServiceTicketServlet</servlet-name>
        <url-pattern>/Cust_DetailServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_GetServiceTicketServlet</servlet-name>
        <url-pattern>/Cust_GetServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_InvoiceServlet</servlet-name>
        <url-pattern>/Cust_InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_LoginServlet</servlet-name>
        <url-pattern>/Cust_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_RemoveFromWishlistServlet</servlet-name>
        <url-pattern>/Cust_RemoveFromWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_SaveWishlistServlet</servlet-name>
        <url-pattern>/Cust_SaveWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCarServlet</servlet-name>
        <url-pattern>/FindCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_CreateNewServiceServlet</servlet-name>
        <url-pattern>/Mec_CreateNewServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_DeleteServiceServlet</servlet-name>
        <url-pattern>/Mec_DeleteServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_DetailServiceServlet</servlet-name>
        <url-pattern>/Mec_DetailServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_FindTicketByDateServlet</servlet-name>
        <url-pattern>/Mec_FindTicketByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_GetServicesServlet</servlet-name>
        <url-pattern>/Mec_GetServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_UpdateNewStServlet</servlet-name>
        <url-pattern>/Mec_UpdateNewStServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_UpdateServiceServlet</servlet-name>
        <url-pattern>/Mec_UpdateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_FindTicketByIDServlet</servlet-name>
        <url-pattern>/Mec_FindTicketByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_UpdateServiceTicketServlet</servlet-name>
        <url-pattern>/Mec_UpdateServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mec_ViewServiceTicketServlet</servlet-name>
        <url-pattern>/Mec_ViewServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_AddPartsUsedServlet</servlet-name>
        <url-pattern>/Sale_AddPartsUsedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_AddServiceMechanicServlet</servlet-name>
        <url-pattern>/Sale_AddServiceMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CarServlet</servlet-name>
        <url-pattern>/Sale_CarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CompleteStServlet</servlet-name>
        <url-pattern>/Sale_CompleteStServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CreateCarServlet</servlet-name>
        <url-pattern>/Sale_CreateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CreateCustServlet</servlet-name>
        <url-pattern>/Sale_CreateCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CreateInvoiceServlet</servlet-name>
        <url-pattern>/Sale_CreateInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CreatePartServlet</servlet-name>
        <url-pattern>/Sale_CreatePartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CreateSt1Servlet</servlet-name>
        <url-pattern>/Sale_CreateSt1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CreateStServlet</servlet-name>
        <url-pattern>/Sale_CreateStServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_CustServlet</servlet-name>
        <url-pattern>/Sale_CustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_DeleteCarServlet</servlet-name>
        <url-pattern>/Sale_DeleteCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_DeleteCustServlet</servlet-name>
        <url-pattern>/Sale_DeleteCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_DeletePartServlet</servlet-name>
        <url-pattern>/Sale_DeletePartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_GetWishlistServlet</servlet-name>
        <url-pattern>/Sale_GetWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_InvoiceServlet</servlet-name>
        <url-pattern>/Sale_InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_JustSmStServlet</servlet-name>
        <url-pattern>/Sale_JustSmStServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_PartServlet</servlet-name>
        <url-pattern>/Sale_PartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_ServiceTicketServlet</servlet-name>
        <url-pattern>/Sale_ServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_UpdateCarServlet</servlet-name>
        <url-pattern>/Sale_UpdateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_UpdateCustServlet</servlet-name>
        <url-pattern>/Sale_UpdateCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_UpdatePartServlet</servlet-name>
        <url-pattern>/Sale_UpdatePartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_LoginServlet</servlet-name>
        <url-pattern>/Staff_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_FindCarServlet</servlet-name>
        <url-pattern>/Sale_FindCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_FindCustServlet</servlet-name>
        <url-pattern>/Sale_FindCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_FindPartServlet</servlet-name>
        <url-pattern>/Sale_FindPartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
